<div id="prenotazioni_content" class="container">
  <div class="row">
    <div id="example-basic">
    <h3 id="section_header_date">Scegli una Data</h3>
    <input type="hidden" id="table_number">
    <section>
        <div class="px-4">
        <div id="datepickerContainer"></div>
        <input type="hidden" id="customer_date">
      </div>
    </section>
    <h3 id="section_header_hour">Scegli un orario</h3>
    <section>
        <h6>Seleziona un orario tra quelli disponibili:</h6>
        <div id="section_hour" ></div>
        <input type="hidden" id="customer_turn">
        <h6>Ogni turno dura un'ora e mezzo</h6> 
        
    </section>
    <h3 id="section_header_people">Numero di Persone</h3>
    <section>
         <h6>Seleziona il numero di persone:</h6>
        <div id="section_people"></div>

        <input type="hidden" id="customer_people">
    </section>
    <h3 id="section_header_contacts">Contatti</h3>
    <section>

        <div id="section_contact">
        {% include "form.html" %}
         </div>

    </section>
</div>
   </div>
</div>