{% extends "en-version/layout.html" %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/people.css')}}">
{% endblock %}
{% block content %}
<div class="image-container">
    <div class="container">
        <img src="{{ url_for('static', filename='images/esterno.jpg') }}" alt="Your Image" class="image" style="width:100%">
        <div class="middle" style="width: 400px">
            <h2>Dear Customer, are you sure you want to cancel your reservation? </h2>
            <a class="btn-custom" href="/reservation/delete/{{ reservation.id }}/confirm">Confirm</a>
            
        </div>
    </div>
</div>



{% endblock %}